[project]
	description = Sample tic tac toe html5 game for mobile device(android, iphone, windows phone...) whit cordova
[access "refs/*"]
	owner = group user/Psycho Mantys (psychomantys)
[access "refs/for/refs/*"]
	read = group user/Psycho Mantys (psychomantys)
	push = group user/Psycho Mantys (psychomantys)
	label-Code-Review = -2..+2 group user/Psycho Mantys (psychomantys)
	label-Verified = -1..+1 group user/Psycho Mantys (psychomantys)
	rebase = group user/Psycho Mantys (psychomantys)
	removeReviewer = group user/Psycho Mantys (psychomantys)
	submit = group user/Psycho Mantys (psychomantys)
[access "refs/heads/*"]
	read = group user/Psycho Mantys (psychomantys)
	create = group user/Psycho Mantys (psychomantys)
	push = +force group user/Psycho Mantys (psychomantys)
	pushMerge = group user/Psycho Mantys (psychomantys)
[access "refs/tags/*"]
	push = +force group user/Psycho Mantys (psychomantys)
	pushTag = group user/Psycho Mantys (psychomantys)
	pushSignedTag = group user/Psycho Mantys (psychomantys)
